*,
:after,
:before {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
html, body {
  min-height: 100%;
}
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,aside,footer,header,nav,section,figcaption,figure,main {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
img {
  max-width: 100%;
  border: 0;
}
a, img {
  -webkit-touch-callout: none;
}
a {
  outline: 0;
  background-color: transparent;
  color: #108ee9;
  text-decoration: none;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

:focus {
  outline: 0;
}

body,
button,
input,
select,
textarea {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  font-family: PingFangSC-Light,helvetica,'Heiti SC';
}

input {
  line-height: normal;
}

i {
  font-style: normal;
}
